    <div>


    <div style="margin-top:25px;">
        <a (click)="goBack()" class="btn btn-warning">Wstecz</a>
        <a (click)="activateNewAddressMode()" class="btn btn-info">{{addressBtnTitle}}</a>
        <a (click)="activateNewOwnerMode()" class="btn btn-success">{{ownerBtnTitle}}</a>
    </div>

    <div *ngIf="isNewOwnerModeActivated">
        <new-owner [recevedId]="property.ownerId" (ownerAddedEvent)="ownerAddedEvent($event)"></new-owner>
    </div>

    <div *ngIf="isNewAddressModeActivated">
        <new-address [recevedId]="property.addressId" (addressAddedEvent)="addressAddedEvent($event)"> </new-address>
    </div>

    <div>
        <h3>{{pageTitle}}</h3>
    </div>

    <p-growl [sticky]="false" [life]="5000" [(value)]="messages"></p-growl>

   

    <div style="margin-top:25px;margin-bottom:50px;">
        <form #propertyForm="ngForm" (ngSubmit)="onSubmit(property) ">
            <div class="form-group">
                <label for="type">Typ nieruchomości:</label>
                <select [disabled]="!isInEditMode" required class="form-control" id="type" [(ngModel)]="property.type" name="type" #type="ngModel">
                    <option></option>
                    <option value="0">Dom</option>
                    <option value="1">Mieszkanie</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rooms">Ilość pokoi</label>
                <input [disabled]="!isInEditMode" required id="rooms" name="rooms" type="number" [(ngModel)]="property.rooms" class="form-control" placeholder="Ilość pokoi..." />
            </div>

            <div class="form-group">
                <label for="area">Powierzchnia</label>
                <input [disabled]="!isInEditMode" required id="area" name="area" type="number" [(ngModel)]="property.area" class="form-control" placeholder="Powierzchnia nieruchmości..." />
            </div>
            <div class="form-group">
                <label for="washer">Zmywarka</label>
                <select [disabled]="!isInEditMode" required class="form-control" id="washer" [(ngModel)]="property.washer" name="washer" #washer="ngModel">
                    <option></option>
                    <option value="true">Tak</option>
                    <option value="false">Nie</option>
                </select>
            </div>
            <div class="form-group">
                <label for="refrigerator">Lodówka</label>
                <select [disabled]="!isInEditMode" required class="form-control" id="refrigerator" [(ngModel)]="property.refrigerator" name="refrigerator" #refrigerator="ngModel">
                    <option></option>
                    <option value="true">Tak</option>
                    <option value="false">Nie</option>
                </select>
            </div>
            <div class="form-group">
                <label for="iron">Żelazko</label>
                <select [disabled]="!isInEditMode" required class="form-control" id="iron" [(ngModel)]="property.iron" name="iron" #iron="ngModel">
                    <option></option>
                    <option value="true">Tak</option>
                    <option value="false">Nie</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Opis:</label>
                <textarea [disabled]="!isInEditMode" required id="description" name="description" [(ngModel)]="property.description" #description="ngModel" class="form-control"></textarea>
            </div>
            <div *ngIf="isInEditMode">
                <button type="submit" [disabled]="!propertyForm.form.valid" class="btn btn-primary">Zapisz</button>
            </div>
        </form>

    </div>
</div>